* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}

:root {
    --hover-color: white;
    --bg-black-color: rgba(196, 24, 24, 0.288);
}

/*  -------------------grid-------------------------------------------------- */

body {
    display: grid;
    grid-template-columns: 25vw 1fr;
    grid-template-rows: 10vh 78vh 12vh;
    background-color: rgb(5, 5, 5);
    color: white;
    width: 100%;
    height: 100vh;
}

nav {
    grid-column: 1 / 3;
    grid-row: 1/2;
    height: auto;
}

aside {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    height: auto;
    padding: 3px 3px 3px 7px;
}

main {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    height: auto;
    padding: 3px 7px 3px 5px;
}

footer {
    grid-column: 1 /3;
    grid-row: 3/4;
    height: auto;
    padding: 3px 8px 0px 8px;
}

/* ---------------------------------------------------------------------- */

.nav-container {
    height: 10vh;
    width: 100%;
}

.left {
    border-radius: 9px;
    overflow: hidden;
    height: 77vh;
}

.right {
    border-radius: 9px;
    position: relative;
    background: linear-gradient(180deg, #202020, #0c0c0c);
    height: 77vh;
}

.horizontal-bar {
    border-radius: 9px;
    background: linear-gradient(90deg, #af2896, #509bf5);
    padding: 9px 25px 9px 15px;
}

/* ----------------------ineer of nav ----------------------------------------- */

.nav {
    width: 98%;
}

.logo-home {
    width: 10%;
    max-width: 125px;
}

.logo {
    width: 50%;
}

.logo img {
    width: 32px;
}

.home-container {
    width: 50%;
}

.home {
    width: 48px;
    height: 48px;
}

.home img {
    width: 24px;
    height: 24px;
}

/* ---------------------- */

.search-box-container {
    width: 40%;
}

.search-box {
    width: 90%;
    max-width: 450px;
    height: 45px;
    color: #acacac;
    border-radius: 30px;
    position: relative;
}

.search-h5 {
    width: 45%;
}

.search {
    width: 24px;
}

.search-box input {
    margin-left: 12px;
    font-weight: 500;
    font-size: 13px;
}

.devider-brows {
    width: 45%;
}

.devider {
    position: absolute;
    right: 15%;
    border: 1px solid rgb(94, 91, 91);
    height: 60%;
}

.browser {
    position: absolute;
    right: 5%;
    width: 24px;
}

/* ------------------- */
.psd-list {
    width: 30%;
    max-width: 380px;
    position: relative;
}

.psd-list-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.psd-list .more-on {
    display: none;
    cursor: pointer;
}

.psd-button {
    width: 70%;
    justify-content: space-evenly;
}

.btn {
    background: none;
    color: #acacac;
    border: none;
}

.fonts {
    font-weight: 600;
    font-size: 16px;
    font-family: sans-serif;
}

/* -------------- */

.devider-1 {
    border: 1px solid white;
    height: 25px;
}

/* ---------------- */

.downloadapp {
    width: 30%;
    color: #acacac;
    font-size: 13px;
    font-weight: 600;
    justify-content: space-evenly;
}

.downloadapp img {
    width: 16px;
}

/* ----------------- */
.sign-log {
    width: 20%;
    max-width: 250px;
    gap: 10px;

}

.fonts-up-in {
    font-weight: 600;
    font-size: 14px;
    font-family: sans-serif;
}

.in {
    min-width: 100px;
    max-width: 150px;
    height: 50px;
    background-color: white;
    color: black;
    border-radius: 25px;
}

/* ---------------------inside of aside------------------------------------------- */

.top-box {
    height: 75px;
}

.top-text {
    margin-left: 20px;
    font-size: 14px;
    font-weight: 700;
}

.plus-square {
    width: 35px;
    height: 35px;
    margin-right: 15px;
}

.plus {
    width: 16px;
}

/* -------------------------- */

.mid-box {
    height: 160px;
}

.mid-box-section {
    height: 133px;
    margin: 20px 7px;
    padding: 20px;
}

.pera-3 {
    font-size: 15px;
    font-weight: 700;
}

.pera-4 {
    font-size: 12px;
    font-weight: 600;
}

.btn-2 {
    background-color: white;
    color: black;
    padding: 8px 15px;
    border-radius: 25px;
}

.acr {
    text-decoration-line: none;
}

.car-btn {
    margin-top: 20px;
}

/* --------------------------------- */

.bottom-box {
    height: auto;
    padding-left: 25px;
}

.terms-list {
    margin-top: 30px;
    padding-right: 65px;
}

.t-c {
    margin-right: 10px;
}

.acr-2 {
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    color: #8f8c8d;
}

.cookies {
    margin-top: 25px;
}

.language {
    margin: 32px 0px;

}

.earth-icon {
    width: 16px;
}

.btn-3 {
    background: none;
    color: white;
    border: 1px solid gray;
    padding: 5px 12px;
    border-radius: 25px;
    font-weight: 600;
}

/* -----------inside of main --------------- */

.right-section {
    margin: 40px 0px;
}

.right-header {
    padding: 0px 40px
}

.right-header h3 {
    font-size: 22px;
}

.right-header h5 {
    color: #a2a6a6;
}

/* ------------ */

.spotifyplaylist {
    padding-left: 59px;
    padding-top: 14px;
    max-height: 250px;
}

.spotifyplaylist ul li {
    width: 250px;
    height: 30px;
    padding: 10px;
    margin: 10px 0px;
    color: #c9c9c9;
    border: 1px solid rgba(128, 128, 128, 0.348);

}

.song-card {
    max-width: 200px;
    max-height: 25px;

}

.song-card p {
    font-size: 13px;
    margin-left: 15px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.spotifyplaylist ul li:hover {
    text-decoration: underline;
    color: white;
    background-color: rgba(163, 152, 152, 0.144);

}

/* ----------------- */

.right-container {
    padding-left: 29px;
    padding-top: 14px;
}

.right-card {
    position: relative;
    width: 160px;
    padding: 10px;
    background-color: #19171836;
    transition: all 0.3s ease-in-out;
}

.right-card:hover {
    background-color: #292828;
}

.right-img-holder {
    width: 153.5px;
}

.green-play {
    position: absolute;
    background-color: rgb(66, 159, 66);
    width: 48px;
    height: 48px;
    right: 13%;
    top: 120px;
    opacity: 0;
    transition: all .3s;
}

.right-card:hover .green-play {
    opacity: 1;
    top: 105px;
}

.right-card:hover  h5 {
    color: var(--hover-color);
}
.right-card:hover  a {
    color: var(--hover-color);
}

.right-img-holder .card-image {
    width: 100%;
    object-fit: contain;
}

.right-img-holder h5{
    margin-top: 5px;
    color: rgb(125, 123, 123);
}

.right-img-holder a{
    margin-top: 5px;
    color: rgba(121, 119, 119, 0.466);
    text-decoration: none;
    font-size: 13px;
}

/* ---------------------- */

.right-footer {
    border-top: 1px solid rgba(128, 128, 128, 0.41);
    margin: 0px 25px;
    margin-top: 100px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.474);
    padding-top: 60px;
    padding-bottom: 40px;
    gap: 50px;
}

.right-footer ul {
    list-style: none;
}

.right-contant li {
    margin-top: 10px;
}

.right-footer h4 {
    font-size: 13px;
    font-weight: 600;
}

.right-footer a {
    text-decoration: none;
    color: gray;
    font-size: 14px;
    font-weight: 600;
}

.social-icon {
    margin-left: 20px;
    width: 40px;
    height: 40px;
    background-color: rgba(73, 70, 70, 0.287);
}

.social-icon a {
    font-size: 1.2rem;
    color: #f5f5f6;
}

.footer-bottom {
    margin: 50px 50px 100px;
    font-size: 13px;
    color: rgb(194, 184, 184);
    font-weight: 600;
    justify-self: end;
}

/* ------------------------ */
.outer-playbar {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}

.playbar {
    margin: 1%;
    padding: 15px 0px;
    background-color: rgb(169 94 94);
    gap: 10px;
}

.infoANDbutton {
    width: 95%;
}

.infobar {
    width: 30%;
}

.playbuttons {
    width: 30%;
}

.timevol {
    width: 30%;
}

.volbar {
    position: relative;
    width: 60%;
}

.volume-slider {
    position: absolute;
    right: 10px;
    width: 0%;
    overflow: hidden;
    transition: width 0.3s ease;
}

#volumeSeekbar {
    width: 90%;
}

#volumeBtn {
    position: absolute;
    right: 0;
}

.volbar:hover .volume-slider {
    width: 100%;
    height: 30px;
}

.timebar {
    width: 40%;
}

#currentsongname,
#currentsongtime {
    font-size: 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.seekbar-container {
    width: 98%;
    height: 12px;
}

.seekbar {
    width: 95%;
    height: 7px;
    background: rgba(255, 255, 255, 0.562);
    cursor: pointer;
}

.seekbar:hover {
    height: 10px;
    background: white;
}

.red-line {
    height: 7px;
    width: 0%;
    background-color: red;
    position: relative;
}

.circle {
    width: 4px;
    height: 8px;
    position: absolute;
    right: 0;
    background-color: rgba(255, 255, 255);
    right: 0%;
    transition: left 0.3s;
}

/* ----------------inside the horizontal bar---------------------------------------------------- */

.pera-1 {
    font-size: 13px;
    font-weight: 600;
}

.pera-2 {
    font-size: 14px;
}


/* --------hover--white----- */

.psd-button button:hover,
.downloadapp:hover,
.sign-log button:hover,
.right-header>h5:hover{
    color: var(--hover-color);
}

.in:hover {
    background-color: var(--bg-black-color);
}